extends layout 

block main 
    section.namecard 
        .namecard-hello 
            if name 
                p.namecard-greeting WELCOME, #{name}!
                form.namecard-exit(action='/goodbye', method='POST')
                    button(type='submit')
                        img(src="/static/img/close.svg", alt="exit image")
            else
                p.namecard-greeting Hello, student!
        block intro 
    block card