/* Flash Card Styles */

body {
  position: relative;
  font-family: 'Century Gothic', sans-serif;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #d64226;
  font-size: 14px;
}

header img {
  width: 100%;
  max-width: 350px;
}

input {
  width: 50%;
  height: 30px;
  font-size: 1em;
  text-align: center;
  border: 0;
  border-radius: 5px;
  outline: none;
  color: #34393d;
}

/* Buttons */
.button-primary-small {
  margin-top: 50px;
  background-color: #fff;
  border: 2px #d64226 solid;
  font-size: 1em;
  padding: 8px 10px;
  color: #d64226;
  font-family: 'Century Gothic', sans-serif;
}

.button-primary-small:hover {
  background-color: #d64226;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* Log In */

.namecard {
  font-size: 1.5em;
  background-color: #f5f3ed;
  margin-bottom: 5em;
  color: #727c85;
  text-align: center;
  border-radius: 20px;
}

.namecard-hello {
  display: flex;
  align-items: center;
  border-bottom: solid 2px #edead9;
  padding: 5px 20px;
  text-align: left;
}

.namecard-greeting {
  font-size: 1.5em;
  font-weight: 400;
  width: 50%;
}

.namecard-form {
  padding-top: 15px;
}

.namecard-prompt {
  font-size: 26px;
  font-weight: 400;
  display: block;
  padding-top: 45px;
}

.namecard-form,
.namecard-prompt,
.namecard-submit {
  max-width: 450px;
  margin: 0 auto;
}

.namecard-name {
  display: block;
  margin: 20px auto;
}

.namecard-submit {
  margin-top: 50px;
  background-color: #fff;
  border: 2px #d64226 solid;
  font-size: 1em;
  padding: 8px 10px;
  color: #d64226;
  font-family: 'Century Gothic', sans-serif;
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 7.5px;
}

.namecard-submit:hover {
  background-color: #d64226;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.namecard-exit {
  width: 50%;
  text-align: right;
}

.namecard-exit button {
  background-color: #f5f3ed;
  border: none;
  margin-top: 2px;
  outline: none;
}

.namecard-exit button:hover {
  cursor: pointer;
}

/* Flash Cards */

.card {
  position: relative;
  max-width: 400px;
  min-height: 500px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 30px;
  color: #727c85;
  text-align: center;
  border-radius: 15px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #727c85;
  height: 100px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card-title {
  text-align: center;
  border-top: 2px solid #f5f3ed;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  color: #727c85;
  padding: 10px;
  letter-spacing: 5px;
  background-color: #f5f3ed;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

.card-answer .card-title {
  background-color: #d64226;
  color: #f5f3ed;
}

.card-question {
  background-color: #f5f3ed;
}

.card-question div:first-of-type {
  background-image: url('../img/question.png');
  background-size: contain;
}

.card-answer div:first-of-type {
  background-image: url('../img/answer.png');
  background-size: contain;
}

.card-answer #content {
  color: #727c85;
}

#content {
  padding: 8% 5%;
  font-size: 1em;
}

#content button {
  padding: 8px 10px;
  font-size: 0.8em;
  margin: auto;
  color: #c79735;
  font-family: 'Century Gothic', sans-serif;
  background-color: #f5f3ed;
  border: 1px solid #c79735;
}

#content button {
  display: block;
}

#content button:hover {
  cursor: pointer;
  background-color: #c79735;
  color: #fff;
}

.card-flip-wrap {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.card-flip {
  max-width: 50px;
  background-color: #fff;
  border-radius: 50px;
  padding: 20px;
  border: 2px solid #fff;
  margin-top: 30px;
}

.card-flip:hover {
  border: 3px solid #ff8800;
  cursor: pointer;
}

.card-next {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
}

.next-alt {
  max-width: 30px;
  background-color: #fff;
  border-radius: 50px;
  padding: 20px;
  border: 2px solid #fff;
  margin-top: 30px;
}

.next-alt:hover {
  border: 3px solid #ff8800;
}

.card-next a:link,
.card-next a:visited,
.card-next a:hover,
.card-next a:active {
  text-align: center;
  text-decoration: none;
  color: #727c85;
}

/* /* 404 Error */

/* .desk {
  width: 80%;
  color: #727c85;
  margin: auto;
  text-align: center;
}

.desk h1 {
  font-weight: 400;
}

.desk-items {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.paper {
  text-align: left;
  color: #34393d;
  height: 500px;
  background-color: #f8f8f8;
  background-size: 100% 2.5em;
  background-image: linear-gradient(
    rgba(234, 236, 211, 1) 0.1em,
    transparent 0.2em
  );
  border-left: 0.2em solid rgba(216, 64, 38, 0.5);
  padding-left: 20px;
  margin-top: 70px;
  overflow: scroll;
}

.tear {
  background-image: url('../img/tear.svg');
  background-repeat: repeat-x;
  width: 100%;
  height: 24px;
} */
